.card1 {
    position: relative;
    /* Estas serán las medidas de todas las card */
    width: 300px;
    height: 400px;
    /* Le pongo un color que me gustó */
    background: #122936;
    /* Acá redondeo los bordes */
    border-radius: 10px;
    overflow: hidden;
}